@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&family=Noto+Sans+JP:wght@400;700&display=swap');

$color-main:#3F51B5;
$color-accent:#E81919;
$color-text:#333333;
$font-english: 'Lato', sans-serif; 
$font-japanese: 'Noto Sans JP', sans-serif;

$layout-width-inner: 1200px;

$breakpoints: ( //キー : 値
  'sp': "(max-width: 767px)",
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  'pc': "(min-width: #{$layout-width-inner})"
) !default;

// メディアクエリ-//
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-japanese;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;


  @include mq('sp') {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include mq('tab') {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1px;
  position: relative;
  font-family: $font-english;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px;
    height: 4px;
    background: $color-main;
  }

  @include mq('sp') {
    font-size: 26px;
    padding-bottom: 16px;

  }

}

.header {
  background: $color-main;
  height: 100px;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 3px rgba(#000, 0.16);
  z-index: 100;
  top: 0;
  left: 0;

  @include mq('sp') {
    height: 60px;
  }

}

.header-inner {

  display: flex;
  align-items: center;
  height: inherit;

  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.header-logo {
  width: 205px;

  @include mq('sp') {
    width: 182px;
  }

  img {
    display: block;
  }
}

.header-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-family: $font-english;

  @include mq('sp') {
    display: none;
  }

  li {
    &:not(:first-child) {
      margin-left: 40px;
    }

    a {
      color: #fff;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 2px;
        background: transparent;
        transition: all 0.3s ease 0;
      }
      
     &:hover ,
      &.is-active {
        &::after {
          position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 2px;
              background: #E81919;
        }
      }

    }
  }

}

//main-visual

.main-visual {
  height: 600px;
  width: 100%;
  margin-top: 100px;
  background: url(../img/mainvisual.png) no-repeat center center / cover;
  position: relative;

  @include mq('sp') {
    height: 420px;
    margin-top: 60px;
  }

}

.main-visual_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;

  @include mq('sp') {
    padding-right: 46px;
    padding-left: 46px;
  }

}

.main-visual_title {
  font-size: 64px;
  font-weight: 700;
  text-align: center;

  @include mq('sp') {
    font-size: 32px;
  }
}

.main-visual_lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 12px;

  @include mq('sp') {
    font-size: 16px;
    margin-top: 18px;
  }

}

.main-visual_button {
  margin-top: 30px;

  @include mq('sp') {
    margin-top: 28px;
  }

  a {
    display: inline-block;
    width: 390px;
    max-width: 100%;
    height: 83px;
    line-height: 83px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: $color-main;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    text-decoration: none;
    transition: all 0.3s ease 0;

    @include mq('sp') {
      width: 280px;
      font-size: 24px;
      height: 60px;
      line-height: 60px;

    }

    &:hover {
      opacity: 0.7;
    }

  }
}

.section{
  padding: 100px 0 120px;

  @include mq('sp'){
    padding-top: 50px;
    padding-bottom: 60px;
  }

}

.card {
  padding: 100px 0 120px;
  background: #EFEFEF;
}

.card_inner {}

// .card-head {
//   font-size: 48px;
//   font-weight: bold;
//   text-align: center;
//   padding-bottom: 1px;
//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//     bottom: 0;
//     width: 60px;
//     height: 4px;
//     background: $color-main;
//   }

//   @include mq('sp') {
//     font-size: 26px;
//     padding-bottom: 16px;

//   }
// }

.card_items {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;

}

.card_item {
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  width: calc(33.3% - 24px * 2 / 3);

  @include mq('pc') {

    &:not(:nth-child(3n + 1)) {
      margin-left: 24px;
    }

    &:nth-child(n + 4) {
      margin-top: 24px;
    }
  }

  @include mq('tab') {
    width: calc(50% - 24px * 1 / 2);

    &:not(:nth-child(2n + 1)) {
      margin-left: 24px;

    }

    &:nth-child(n + 3) {
      margin-top: 24px;
    }
  }

  @include mq('sp') {
    width: 100%;
    margin-left: 0;

    &:nth-child(n + 2) {
      margin-top: 24px;
    }

  }
}

.card_img {
  img {
    width: 100%;

  }
}

.card_title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 14px;
  color: #6F7579;

}

.card_text {
  color: #6F7579;
  font-weight: 700;
  line-height: (24 / 16);
  margin-top: 14px;

}

//news

.news {
  background: #fff;
  padding: 100px 0 120px;

  @include mq('sp'){
    padding-top: 50px;
    padding-bottom: 60px;
  }

}

.news_inner {}

.news_head {}

.news_items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;

  @include mq('sp'){
    margin-top: 40px;
  }
}

.news_item {
  display: flex;
  padding: 20px 0 12px;

  &:not(:first-child) {
    border-top: 1px solid #707070;

  }

  @include mq('sp'){
    display: block;
  }
}

.news_meta {
  display: flex;
  width: 185px;
}

.news_date {
  width: 105px;
  padding-top: 3px;
  font-family: $font-english;
}

.news_label {
  a {
    display: inline-block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    background: #666666;
    border-radius: 4px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease 0s;



    &.is-blue {
      background: #3F51B5;
    }

    &.is-red {
      background: #E81919;
    }

    &:hover {
      opacity: 0.7;
    }
  }

}

.news_title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;

  a {
    text-decoration: none;
    line-height: (20 / 16);
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }

  }

  @include mq('sp'){
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 6px;
  }
}

.news_more {
  margin-top: 60px;
  text-align: center;
  font-family: $font-english;

  a {
    text-decoration: none;
    color: #E81919;
    font-weight: 700;
    padding-right: 14px;
   transition: all 0.3s ease 0s;
    position: relative;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 7px;
      height: 11px;
      background: url(../img/news-arrow@2x.png) no-repeat center center/ contain;
    }

  }

  @include mq('sp'){
    margin-top: 30px;
  }
}

.price {
  background-color: #EFEFEF;

}

.price_inner {

}

.price_head {
 

}

.price_content {
  display: flex;
  margin-top: 80px;

  @include mq('sp'){
   display: block;
   margin-top: 40px;
  }
}

.price_image {
  width: 454 /1200 * 100%;

  @include mq('sp'){
   width: 100%;
  }
  img{

  }

}

.price_table {
  width: (172 + 268 + 268) /1200 * 100%;
  margin-left: auto;

  @include mq('sp'){
    width: 100%;
    margin-top: 24px;
   }
}

.price_attention{
  font-size: 14px;
  margin-top: 14px;
  a {
   font-weight: 700px;
   transition: all 0.3s ease 0s;
  
   &:hover {
    opacity: 0.7;
   }
  }
}

.table {

  width: 100%;
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  font-weight: 700;
  table-layout: fixed;

  
  th,
  td {
    border: 1px solid #707070;
    padding: 0 24px;
    height: 58px;
    vertical-align: middle;
  }
  th{ 
    background-color: #999;
    color: #fff;
    text-align: center;
    font-family: $font-english;

  
    
    &:nth-child(1) {
      width: 172px;

      @include mq('sp'){
      width: 112px;
      }
    }
    }
    td {
      text-align: right;

    }
  }

strong{
    color: #E81919;
    line-height: 1.2;
  }

span {
    font-size: 13px;
    display: block;
    margin-top: 1px;
    line-height: 1.2;
  }

  .access{

  }

  .access_inner{

  }

  .access-head{

  }

  .access_map{
   margin: 80px auto 0;
   width:800px ;
   max-width: 100%;
   
   @include mq('sp'){
    margin-top: 40px;
    }
  }

  .iframe-wrap{
    width: 100%;
    padding-top: 400 / 800 * 100%;
    position: relative;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .access_info{
   margin: 16px auto 0 ;
   width: 800px;
   max-width: 100%;
  }

  .access_info-row{
    display: flex;
    align-items: center;

    &:not(:first-child){
     margin-top: 16px;
    }

    dt{
     margin: 0;
     padding: 0;
    
     font-weight: 700;
     width: 104px;
    }

    dd{
      margin: 0;
      padding: 0;
      width: calc(100% - 104px);
    }

  }

  .access_button{
    text-align: center;
    margin-top: 30px;
    a{
      text-decoration: none;
      display: inline-block;
      width: 304px;
      text-align: center;
      color: #FFFFFF;
      font-weight: 700;
      padding: 16px 12px ;
      border-radius: 8px;
      background-color: $color-main;
      box-shadow:0 3px 6px  rgba(#000, 0.16);
      position: relative;
      transition: all 0.3s ease 0s;
  
      &:hover {
       opacity: 0.7;
      }

      &::after{
        content: "";
        position: absolute;
       top: 50px;
       right: 12px; 
       transform: translateY( -50%);
       width: 17px;
       height: 16px;
       background: url(../img/button-arrow@2x.png) no-repeat center center contain ;
      }
      

    }
  }

.contact {
 background: #EFEFEF;
}

.contact_inner {

}

.contact_head {

}

.contact-form {
 margin: 80px auto 0;
 width: 800px;
 max-width: 100%;
 background: #fff;
 padding: 60px;
 @include mq('sp'){
  margin-top: 40px;
  padding: 24px;
 }
}

.contact-form_dl {

}

.contact-form_row {
 display: flex;
 @include mq('sp'){
  display: block;
}
 &:not(:first-child) {
  margin-top: 60px;

  @include mq('sp'){
    margin-top: 30px;
   }
 }

 
}

.contact-form_label {
  width: 160px;
padding: 5px 0 0;
margin: 0;

@include mq('sp'){
  width: 100%;
}
 label {
  font-weight: 700;

  &.is-reqire {

    display: inline-block;
    position: relative;

    &::after{
      content: "必須";
      position: absolute;
      top: calc(100% + 2px);
      color: #fff;
      background: #E81919;
      left: 0;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      border-radius: 4px;
      padding: 2px 8px;
      line-height: 1;
      
      @include mq('sp'){
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% + 6px);
        width: 44px;
       }

    }
  }
 }
}

.contact-form_input {
  width: calc(100% - 160px 
  );
  margin: 0;
  padding: 0;

  @include mq('sp'){
    width: 100%;
    margin: top 5px; ;
  }
 [type="text"]{
 box-shadow: none;
 border: 1px solid #707070;
 background: #fff;
 padding: 12px 16px;
 appearance: none;
 border-radius: 0;
 color: inherit;
 font-family: inherit;
 font-size: 14px;
 width: 100%;
 }

 [type="email"] {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 12px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
 }
 
 select {
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #707070;
  padding: 12px 16px;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #fff url(../img/select-arrow@2x.png) no-repeat right 12px center / 17px 14px ;
 }

 textarea {

  height: 240px;
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 12px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
 }

}

.contact-form_radio {
margin-top: 32px;
 
 [type="radio"]{
 display: none;
 }

 span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;

  &::before{
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid  #707070;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 50%;
  }

  &::after{
    content: "";
    width: 10px;
    height: 10px;
    background:#3F51B5;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(- 50%);
    border-radius: 50%;
    display: none;
  }
 }

 [type="radio"]:checked + span {
  &::after{
    display: block;
  }
 }

}

.contact-form_check {
  margin-top: 63px;
  text-align: center;
[type="checkbox"] {
display: none;
}

span {
  display: inline-block;
  padding-left: 49px;
  position: relative;

  &::before{
    content: "";
    width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid  #707070;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &::after{
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: transparent url(../img/checkbox@2x.png) no-repeat center center / contain;
    display: none;
  }
}

[type="checkbox"]:checked + span {
  &::after{
    display: block;transition: all 0.3s ease 0s;
  
    
  }
  

}
a {
 font-weight: 700;
 &:hover {
  opacity: 0.7;
 }
} 
}

.contact-form_submit {
  margin-top: 30px;
  text-align: center;
  [type="submit"] {
    background: #3F51B5 url(../img/button-arrow@2x.png) no-repeat right 12px center / 17px 16px;
    width: 304px;
    display: inline-block;
    font-weight: 700;
    color: #fff;
    padding: 19px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    appearance: none;
    font-family: inherit;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  
    &:hover {
     opacity: 0.7;
    }
  }
}

.footer {
 background: linear-gradient(to bottom, #666666, #333333 );
 padding: 60px 0 24px;
 color: #fff;

 @include mq('sp'){
 padding-top: 30px; 
 padding-bottom: 14px;
}
}

.footer_inner {

}
.footer_content {
 display: flex;
 @include mq('sp'){
  display: block;
 }

 
}

.footer_left {
 width: 30%;
 @include mq('sp'){
 width: 100%; 
}
}

.footer_logo {
  a{

  }

  img{
   width: 205px;
  }
}

.footer_address {
 margin-top: 32px;
 font-size: 14px;

 @include mq('sp'){
 margin-top: 15px; 
}
}

.footer_tel {
 font-size: 14px;
 margin-top: 15px;
}

.footer_center {
 width: 55%;
 font-family: $font-english;
 @include mq('sp'){
 width: 100%; 
}
}

.footer_nav {
  display: flex;
  li {
    @include mq('sp'){
    margin-top: 10px;
    }
    &:not(:first-child){
      margin-left: 40px;
      @include mq('sp'){
      margin-left: 20px;
      }
    }
    a {
     text-decoration: none;
     font-size: 16px;
     transition: all 0.3s ease 0s;

     &:hover{
      opacity: 0.7;
     }
    }
  }
}

.footer_right {
 width: 15%;
 @include mq('sp'){
 width: 100%; 
}
}

.footer_sns {
  display: flex;
  justify-content: flex-end;

  @include mq('sp'){
    justify-content: center;

  }
  li{
    &:not(:first-child){
      margin-left: 10px;
    }
    
    a {
    width: 15px;
    height: 15px;
  text-decoration: none;
  transition: all 0.3s ease 0s;

     &:hover{
      opacity: 0.7;
     }

  @include mq('sp'){
    
    width: 30px;
    height: 30px;
   
    
    
  }

  
  }
  }
}

.footer_copy {
 text-align: center;
 font-size: 14px;
 margin-top: 46px;
 font-family: $font-english;
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  transition: all 0.3s ease 0s;

     &:hover{
      opacity: 0.7;
     }
  
  a{
    img{
  text-decoration: none;
  width: 60px;
  height: 60px;

  @include mq('sp'){
    width: 40px;
    height: 40px;
    right: 14px;
    bottom: 4px;

  }
    }
  }
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-top:  -20px;
  background: transparent url(../img/arrow-next@2x.png) no-repeat center center / contain;
  right: calc(50% - #{$layout-width-inner / 2});
 
  &::after{
    display: none;
  }
  @include mq('sp'){
   right: 10px;

  }
  @include mq('tab'){
    right: 10px;
 
   }
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top:  -20px;
  background: transparent url(../img/arrow-prev@2x.png) no-repeat center center / contain;
  left: calc(50% - #{$layout-width-inner / 2});
  @include mq('sp'){
    left: 10px;
 
   }

   @include mq('tab'){
    left: 10px;
 
   }

  &::after{
    display: none;
  }
}

.swiper-pagination-bullet {
 width: 16px;
 height: 16px;
 background: #FFFFFF9E;
 opacity: 1;

}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin-left: 8px;
  margin-right: 8px;
}

.swiper-pagination-bullet-active {
 background: #2F7DC8;
}


.drawer-icon{
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  transition: transform 0.5s ease 0s;


  display: none;
  @include mq('sp'){
    
display: block;
  }

 &.is-active{
transform: translateX(-200px);
  
.drawer-icon-bar1{
 transform: rotate(-45deg);
 top: 0;
 }
 
 .drawer-icon-bar2{
   display: none;
 }
 
 .drawer-icon-bar3{
  transform: rotate(45deg);
  top: 0;
 }
 }
 
 }
 
 .drawer-icon-bars{
  width: 20px;
  height: 22px;
  display: block;
  position: relative;
 }
 
 .drawer-icon-bar1,
 .drawer-icon-bar2,
 .drawer-icon-bar3{
 position: absolute;
 width: 22px;
 height: 4px;
 background: #FFFFFF;
 top: 0;
 right: 0;
 }
 
 .drawer-icon-bar1{
 top: 0px;
 }
 
 .drawer-icon-bar2{
   top: 8px;
 }
 
 .drawer-icon-bar3{
   top: 16px;
 }
 
 .drawer-content{
  position: fixed;
	top: 0;
	right: 0;
  height: 100%;
  width: 200px;
	background: #fff;
  box-shadow: 0 0 3px rgba(#000, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;

  &.is-active{
    transform: translateX(0%);
  }
 }
 
 .rawer-content_items{
   
 }
 
 .drawer-content_item{
  border-bottom: 1px dotted #707070;
   a {
  display: block;
  color: #707070;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;

  &::after{
position: absolute;
right: 20px;
top: 50%;
transform: translateX(-50%);
width: 8px;
height: 11px;
background: url(../img/arrow-b@3x.png) no-repeat center center / contain;

  }
 
   }
 }
 
 .drawer-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000000,0.8) ;
  z-index: 298;
  display: none;

  &.is-active{
    display: block;

  }
 }

